.card-panel {
  height: 110vh;
}
.container {
  background-color: teal;
}
.title {
  text-align: center;
  font-family: 'Staatliches', cursive;
}
.submitbutton {
  text-align: center;
  padding-top: 0;
  padding-bottom: 2rem;
}
.startbutton:hover {
  background-color: black !important;
}

.submit:hover {
  background-color: teal !important;
}
.prevtitle {
  text-align: center;
  font-family: 'Staatliches', cursive;
}
.previous-workout {
  padding-bottom: 3rem;
}
.breaker {
  padding-bottom: 0.5rem;
}

.timer {
  font-size: 2rem;
  text-align: center;
  font-family: 'Thasadith', sans-serif;
}

.exercise {
  text-align: center;
  font-family: 'Thasadith', sans-serif;
  color: teal;
  font-size: 2rem;
  padding-bottom: 0;
}
.submit:hover {
  background-color: red;
}
